.ListItem {
  height: $ListItem__height;
  background: $White !important;
  margin: 15px 0 !important;
  padding: 0 !important;
  box-shadow: 0 5px 5px 0 rgba(42, 51, 83, 0.12), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
  border-radius: 4px !important;
  &:hover {
    background: rgba($Pink, 0.15) !important;
    border-right: 12px solid $Pink;
    transition: 0.3s;
  }
  .ListItem__poster {
    height: $ListItem__poster__height;
    min-width: $ListItem__poster__width;
    width: auto;
    max-width: $ListItem__poster__width;
    border-radius: 4px 0 0 4px;
  }
  .ListItem__poster__rounded {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
  }
  .ListItem__title {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: bold;
    @include xs {
      width: calc(90vw - #{$ListItem__poster__width});
    }
  }
  .ListItem__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    p {
      margin: 0;
      padding: 0 10px;
    }
    .ListItem__detail__artist {
      font-size: 14px;
    }
    .ListItem__detail__pageviews {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px;
      color: $GreyDark;
      font-size: 12px;
      div {
        margin-right: 5px;
        svg {
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}
