body {
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  background: $GreyLight;
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
    color: inherit;
  }
}
