// Content
$Content__width__default: 500px;
$Content__width__xs: 92vw;

// <Button />
$Button__height: 50px;
$Button__width: 100%;

// <Input />
$Input__width: 100%;

// <List />
$List__height: 100%;
$List__width: 100%;

// <ListItem />
$ListItem__height: 85px;
$ListItem__poster__height: 85px;
$ListItem__poster__width: 75px;
