.Artist__loading {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    color: $Pink;
  }
}

.Artist {
  .Artist__Banner {
    background-color: $Black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px solid $Black;
    filter: blur(0.5px);
    height: 300px;
    width: 100%;
    position: absolute;
    @include xs {
      height: 40vw;
    }
    @include sm {
      height: 40vw;
    }
  }
  .Artist__Header {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    position: relative;
    transform: translateY(80px);
    @include xs {
      flex-direction: column;
      transform: translateY(30px);
    }
    @include sm {
      transform: translateY(60px);
    }
    .Artist__Header__avatar {
      border-radius: 50%;
      border: 2px solid $GreyLight;
      height: 280px;
      width: 280px;
      @include xs {
        height: 50vw;
        width: 50vw;
      }
      @include sm {
        height: 40vw;
        width: 40vw;
      }
    }
    .Artist__Header__name {
      display: flex;
      align-items: baseline;
      h3 {
        color: $White;
        font-size: 48px;
        margin: 0 10px 0 25px;
        @include xs {
          margin: 0 0 0 10px;
          font-size: 28px;
          color: $Black;
        }
        @include sm {
          margin: 0 0 0 10px;
          font-size: 38px;
        }
      }
    }
  }
  .Artist__songs {
    position: absolute;
    border: 2px solid red;
    height: 100vh;
    width: 500px;
  }
}
