.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $Yellow !important;
  .NavBar__brand {
    color: $Black;
    font-size: 20px;
    img {
      height: 60px;
      width: auto;
    }
  }
}
